{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "eu-de",
  "tags": $TAGS,
  "instance_name": $PREFIX,
  "environment_crn": $CLOUDANT_DEDICATED_CRN,
  "existing_resource_group": true,
  "resource_group_name": "geretain-test-cloudant"
}
